#p1{
    font-weight: normal;
}

#p2{
    font-weight: bold;
}

#p3{
    font-weight: lighter;
}

#p4{
    font-weight: bolder;
}

#p5{
    font-weight: inherit;
}






#h1{
    font-weight:100;
}

#h2{
    font-weight:200;
}

#h3{
    font-weight:300;
}

#h4{
    font-weight:400;
}

#h5{
    font-weight:500;
}

#h6{
    font-weight:600;
}

#h7{
    font-weight:700;
}

#h8{
    font-weight:800;
}

#h9{
    font-weight:900;
}





#htmltags{
    font-weight: lighter;
}

#csstags{
    font-weight: bolder;
}



#group{
    font-weight:500;
}

#group ul{
    font-weight:bolder;
}




table {
    font-weight: 900;
    color: rgb(0, 128, 0);
    font-size: 24px;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    margin: 23%;
}  



#div1{
color:blue;
background-color:lightyellow;
font-size:20px;
font-weight:700;
border:3px solid black;
text-shadow:2px 2px 4px gray;
text-decoration:underline;
text-transform:uppercase;
}


#div2{
color:green;
background-color:lightblue;
font-size:22px;
font-weight:900;
border:4px dashed purple;
text-shadow:1px 1px 3px black;
text-decoration:line-through;
text-transform:capitalize;
}


.btn{
color:rgb(126, 166, 122);
background-color:red;
font-size:18px;
font-weight:bold;
border:3px solid black;
text-shadow:1px 1px 2px black;
text-decoration:none;
text-transform:uppercase;
padding:10px;
margin:5px;
}


