.div-one {
    font-size: 20px;
    color: blue;
    background-color: green;
    border: 3px solid red;
}

.div-two {
    font-size: 20px;
    color: purple;
    background-color: brown;
    border: 7px solid yellow;
}

.list-one {
    font-size: 20px;
    color: yellow;
    background-color: pink;
    border: 5px solid black;
}

.list-two {
    font-size: 20px;
    color: green;
    background-color: red;
    border: 8px solid brown;
}

.mixed-div {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    border: 5px solid green;
}