body {
    font-family: Arial;
    background-color: #f2f2f2;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}

main {
    font-size: 18px; 
}
