#ki {
color: red;
}

#ara {
color: blue;
}

#ravi {
font-weight: bold;
}
        
        
#alabt {
color: green;
}

#kai {
color: purple;
}




#div1 {
color: red;
}

#italic1 {
font-size: 20px;
}

#div2 {
color: blue;
font-size: 22px;
}

#italic2 {
font-weight: bold;
}

#div3 {
color: blue;
font-size: 22px;
}


#italic3 {
color: green;
text-decoration: underline;
}