.p1 {
    color: blue;
    font-size: 25px;
    background-color: red;
    border: 4px solid green;
}


.p2 {
    color: green;
    font-size: 45px;
    text-align: center;
    background-color: yellow;
    border: 7px solid purple;
}


.p3 {
    color: orange;
    font-size: 14px;
    text-align: left;
    background-color: blue;
    border: 2px solid pink;
}



#myDiv {
    background-color: lightgray;
    padding: 20px;
    font-family: Arial;
}

#h1 {
    color: red;
    background-color: black;
    font-size: 40px;
    text-align: center;
    border: 5px solid blue;
    margin: 10px;
    padding: 10px;
}

#h2 {
    color: blue;
    background-color: orange;
    font-size: 35px;
    text-align: left;
    border: 4px solid green;
    margin: 10px;
    padding: 10px;
}

#h3 {
    color: purple;
    background-color: yellow;
    font-size: 30px;
    text-align: right;
    border: 3px solid red;
    margin: 10px;
    padding: 10px;
}


#head1 {
    color: red;
    background-color: black;
    font-size: 50px;
    text-align: center;
    border: 6px solid blue;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#head2 {
    color: blue;
    background-color: yellow;
    font-size: 42px;
    text-align: left;
    border: 5px dashed green;
    margin: 18px;
    padding: 12px;
    border-radius: 10px;
    word-spacing: 10px;
}

#head3 {
    color: green;
    background-color: pink;
    font-size: 35px;
    text-align: right;
    border: 4px dotted purple;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: underline;
}

#head4 {
    color: purple;
    background-color: lightblue;
    font-size: 28px;
    text-align: center;
    border: 3px solid red;
    margin: 12px;
    padding: 8px;
    border-radius: 6px;
    font-style: italic;
}

#head5 {
    color: orange;
    background-color: lightgreen;
    font-size: 22px;
    text-align: left;
    border: 2px solid black;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
}

#head6 {
    color: brown;
    background-color: gray;
    font-size: 16px;
    text-align: right;
    border: 1px solid white;
    margin: 8px;
    padding: 5px;
    border-radius: 4px;
    font-family: monospace;
}


.title {
    font-family: Arial;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.t1 {
    color: red;
    background-color: black;
    font-size: 45px;
    text-align: center;
    border: 5px solid blue;
}

.t2 {
    color: blue;
    background-color: yellow;
    font-size: 40px;
    text-align: left;
    border: 4px dashed green;
}

.t3 {
    color: green;
    background-color: pink;
    font-size: 35px;
    text-align: right;
    border: 3px dotted purple;
    text-decoration: underline;
}

.t4 {
    color: purple;
    background-color: lightblue;
    font-size: 32px;
    text-align: center;
    border: 4px solid red;
    font-style: italic;
}

.t5 {
    color: orange;
    background-color: lightgreen;
    font-size: 28px;
    text-align: left;
    border: 3px solid black;
    font-weight: bold;
}

.t6 {
    color: white;
    background-color: brown;
    font-size: 26px;
    text-align: right;
    border: 4px solid cyan;
}

.t7 {
    color: black;
    background-color: orange;
    font-size: 30px;
    text-align: center;
    border: 3px solid purple;
    word-spacing: 10px;
}

.t8 {
    color: darkblue;
    background-color: lightgray;
    font-size: 34px;
    text-align: left;
    border: 4px solid green;
    text-decoration: line-through;
}

.t9 {
    color: darkred;
    background-color: beige;
    font-size: 29px;
    text-align: right;
    border: 2px dashed black;
}

.t10 {
    color: teal;
    background-color: gold;
    font-size: 25px;
    text-align: center;
    border: 2px solid red;
}


#task6 {
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.para6 {
    color: pink;
    font-size: 30px;
    background-color: blue;
    border: 4px solid green;
    margin: 10px;
    padding: 10px;
}


.btn1 {
    background-color: red;
    color: white;
    font-size: 20px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

.btn2 {
    background-color: yellow;
    color: black;
    font-size: 22px;
    border: 3px dashed purple;
    padding: 10px;
    margin: 10px;
}

.btn3 {
    background-color: green;
    color: white;
    font-size: 18px;
    border: 3px dotted blue;
    padding: 10px;
    margin: 10px;
}



#task8 {
    background-color: lightgray;
    padding: 25px;
    margin: 20px;
    text-align: center;
}


#task8 button {
    background-color: black;
    color: white;
    font-size: 18px;
    border: 3px solid orange;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}


.p8 {
    color: blue;
    background-color: yellow;
    font-size: 22px;
    border: 3px solid red;
    padding: 10px;
    margin: 10px;
}


#h1_8 {
    color: red;
    background-color: black;
    font-size: 40px;
    border: 4px solid blue;
    margin: 10px;
    padding: 10px;
}

#h2_8 {
    color: blue;
    background-color: pink;
    font-size: 35px;
    border: 4px dashed green;
    margin: 10px;
    padding: 10px;
}

#h3_8 {
    color: green;
    background-color: yellow;
    font-size: 30px;
    border: 4px dotted purple;
    margin: 10px;
    padding: 10px;
}

#h4_8 {
    color: purple;
    background-color: lightblue;
    font-size: 26px;
    border: 4px solid red;
    margin: 10px;
    padding: 10px;
}

#h5_8 {
    color: orange;
    background-color: lightgreen;
    font-size: 22px;
    border: 4px solid black;
    margin: 10px;
    padding: 10px;
}



.hobby1 {
    color: blue;
    font-size: 25px;
    background-color: lightyellow;
    border: 3px solid green;
    margin: 10px;
    padding: 10px;
}


.hobby2 {
    color: red;
    font-size: 20px;
    background-color: lightgray;
    border: 4px solid purple;
    margin: 10px;
    padding: 10px;
    text-align: center;
}